@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


:root{
    --black:#000000;
    --white:#F8FAFC;
    --gray:#D9D9D9;
    --dark-gray:#4D5562;
}

/* resets */

*,*::before,*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



html{
    font-family: Poppins;
    font-size: 62.5%;
    /* text-wrap: balance; */
}


a{
    text-decoration: none;
    color: inherit;
    display: inline-block;
}



img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 1rem;
}






/* mobile first approach */

header{
    text-align: center;
    font-size: 1.6rem;
    padding: 2em 2em 0 2em;
    font-size: 1.5em;
    margin: 3rem 0 3rem 0;
}

h1{
   margin-bottom: 1em;
}

h2{
    font-size: 1.5em;
    font-weight: 600;
    margin: 1em 0;
}

span{
    color: var(--dark-gray);
    font-size: 1.3em;
    font-weight: 500;
}

.container{
    padding: 1em 2em 9em 2em;
    width: 90%;
    margin: 0 auto;
}

.card:not(:last-child){
    margin-bottom: 5em;
}
.card-image-container{
    width: 15em;
    height: 15em;
    border-radius: 1em;
}

.img-1{
    background:  url("/resources/photo_1.png") center / cover no-repeat;
}

.img-2{
    background:  url("/resources/photo_2.png") center / cover no-repeat;
}

.img-3{
    background:  url("/resources/photo_3.png") center / cover no-repeat;
}

/* .card, .card-content{
    border: 1px solid black;
} */


 



/* tablet build */


@media  screen and (min-width:800px) {
        header{
        font-size: 2em;
        padding: 1em 2em;
        margin: 3rem 0 3rem 0;
        }

        .container{
        width: 90%;
        }

        .card{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5em;
        }

        .card-content{
            width: 60%; 
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
        }

        .card-image-container{
            width: 18em;
            height: 18em;
            border-radius: 1em;
            box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.16);
            -webkit-box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.16);
            -moz-box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.16);
       }

        h1{
          font-size: 2.5em ;
       }

        h2{
           font-size: 1.8em;
           
}
}





/* desktop build */


@media  screen and (min-width:1200px) {
        h1{
        font-size: 2em;
        padding: 0 9em;

    }

        h2{
            font-size: 2em;
        }

    .card-content{
            width: 50%; 
        }

    .card-image-container{
            width: 20em;
            height: 20em;
            border-radius: 1em;
            box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.16);
            -webkit-box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.16);
            -moz-box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.16);
       }


}