@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


:root{
    --black:#000000;
    --white:#F8FAFC;
    --gray:#D9D9D9;
    --dark-gray:#4D5562;
}

*,*::before,*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



html{
    font-family: Poppins;
    font-size: 62.5%;
    /* text-wrap: balance; */
}

header{
    text-align: center;
    font-size: 1.6rem;
    padding-top: 2rem;
}


img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 1rem;
}






.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 0 1.5em 5rem 1.5em;
}
  



.card-image-container{
    height: 20em;
    width: 20em;
    margin: 1em 0 1em 0;
    border-radius: 1em;
}

.card-content{
    font-size: 1.4em;
    padding-top:1em;
}

.card-title{
    margin-bottom: 2rem;
}

.img-1{
    background: url("/resources/photo_1.png") center/cover no-repeat;
}

.img-2{
    background: url("/resources/photo_2.png") center/cover no-repeat;
}

.img-3{
    background: url("/resources/photo_3.png") center/cover no-repeat;
}


















@media screen and (min-width: 600px){
   .card{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3em;
    }


    .card-content{
        flex-basis: 60%;
    }

    h1{
        font-size: 3.5em;
    }

    h2{
        font-size: 2em;
    }
 .card-image-container{
    height: 25em;
    width: 25em;
    }
}
   


@media screen and (min-width: 1350px){

    .card{
        border: 1px solid black;
        width: 100%;
    }

    header{
        padding: 10rem 0 3rem 0;
    }

    .seperator{
        width: 30rem;
    }

    .container{
        padding-bottom: 20em;
        width: 80%;
        margin: 0 auto;
    }

    h1{
        font-size: 3.5em;
        padding:0 5em 1em 5em;
    }

    h2{
        font-size: 2em;
    }

    .card-image-container{
    height: 30em;
    width: 30em;
    margin: 1em 0 1em 0;
    border-radius: 1em;
    }

    .card-content{
        border: 1px solid black;
        padding: 0 2em;
    }

    .img-1{
    background: url("/resources/photo_1@2x.png") center/cover no-repeat;
    }

    .img-2{
    background: url("/resources/photo_2@2x.png") center/cover no-repeat;
    }

    .img-3{
    background: url("/resources/photo_3@2x.png") center/cover no-repeat;
    }

}